# MySQL local o Aiven
DB_HOST=mysql-project.aivencloud.com
DB_PORT=12345
DB_NAME=defaultdb
DB_USERNAME=avnadmin
DB_PASSWORD=reemplazar_con_la_clave_de_aiven
DB_SSL_MODE=REQUIRED

# Firebase Storage
FIREBASE_BUCKET_NAME=bookguest-36f8e.firebasestorage.app
FIREBASE_STORAGE_PATH=bookguest
FIREBASE_CREDENTIALS_BASE64=reemplazar_con_el_json_codificado_en_base64

# Render configura PORT automaticamente
THYMELEAF_CACHE=true
